h1 {
    color: cornflowerblue;
    font-family: helvetica;
    border: 5px solid pink;
    padding: 50px;
}

p {
    color: steelblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    color: teal;
    font-family: cursive;
}

body {
    background-color: darkgrey;
}

img {
    border: 5px solid whitesmoke;
}
